.textShadow {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.typewriter {
  font-family: "Courier New", Courier, monospace;
  white-space: pre-wrap;
  max-width: 25rem;
  text-align: center;
  line-height: 1.5em;
  height: calc(2 * 1.5em);
}

/* Media Queries */
@media (max-width: 768px) {
  .typewriter {
    width: 100%;
  }
}
