:root[data-mantine-color-scheme="dark"] {
  --mantine-color-body: #12181b !important;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  background: linear-gradient(
    180deg,
    #12181b 0%,
    #262935 50%,
    #12181b 100%
  ) !important;
}
